header {
    font-size: 25px;
}

body,div{
    margin: 0;
    font-family: sans-serif;
}

body {
    background: #666f88;
}

#top-bar {
    background: #000;
    padding: 12px;
    position: relative;
    z-index: 100;
    

}

#top-bar div {
    font-size: 40px;
    color: #fff;
}

#nav li {
    list-style: none;
    padding: 30px 40px;
}

#nav a {
    text-decoration: none;
    color: #fff;
}

#nav i {
    width: 30px;
    color: #fff;
}

#nav {
    background: linear-gradient(#000, #0000);
    margin-top: -100%;
}

@keyframes aparecer {
    0% {
        margin-top: -100%;
    }
    100%{
        margin-top: 0%;
    }
}
@keyframes desaparecer {
    0% {
        margin-top: 0%;
    }
    100%{
        margin-top: -100%;
    }
}

@media screen and (min-width: 900px) { 
    #top-bar {
        display: none;

    }
    #nav {
        margin-top: 0%;
        display: flex;
        justify-content: center;
    }
}

.login-button a {
    border: 2px solid #fff;
    border-radius: 4px;
    padding: 9px 27px;
}

@media screen and (mid-width: 1680px) {
    bidy {
        background-size: cover;
    }
}